@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Dosis', sans-serif;
  
 font-size: 1rem;
}


button {
  outline: 0;
  border: none;
  transition: border-color 0.25s;
}

/* Loader */
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.834);

}

.loader svg{
  width: 100px;
  height: 100px;

}


/* Search */
.s-logout, .user-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-logout{
  margin: 2rem 0 3rem;
  flex-wrap: wrap-reverse;
}

.user-btn{
  align-self: flex-end;
}

.user-btn button{
  padding: 0.6rem 1rem;
  border-radius: 14px;
}

.user-btn button:focus-within{
  border: 1px double #930706;
}

.user-btn svg{
  color: #ffa500;
  margin-right: 1rem;
  width: 20px;
  height: 20px;

}


.search-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  
}

.search-wrapper input{
  background-color: #f3f3f3;
  color: #343b38;
  padding: 1rem 2.8rem;
  /* width: 100%; */
  border-radius: 30px;
  font-size: 1.125rem;
  outline: none;
  border: none;
}

.search-wrapper::placeholder{
  color: #b7b7b7;
}

.search-wrapper svg{
  position: absolute;
  color:#d8d8d8;
  width: 50px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* Gallery */
.img-container{
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  gap: 1.2rem;
  width: 100%;
} 
 h4{
  text-align: left;
}

.box{
  /* width: 10rem; */
  height: 10rem;
  position: relative;
}

.box img{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.box button{
  padding: 5px 0.9rem;
  border-radius: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 3px;
  right: 0;
  background-color: transparent;
  font-size: 1rem;
}

.container{
  width: 85%;
  margin: 0 auto 4rem;
}
.fire{
  
  border: 1px solid #930706;
  color: #ffcccc;
}

.water{
  border: 1px solid #294364;
  color: #ddddff;
}

.earth{
  border: 1px solid #005a00;
  color: #c5fcdc;
}

.air{
  border: 1px solid #ffa500;
  color: #ffffe0;
}

@media (max-width: 769px){
  .img-container{
    grid-template-columns: auto auto auto;
  }

  .search-wrapper input{
    font-size: 1rem;
    padding: .8rem 0 .8rem 2.5rem;
  }
}

@media (min-width: 481px) and (max-width: 600px){

  .img-container{
    grid-template-columns: auto auto;
  }
 
}

@media (max-width: 481px) {
  
  .search-wrapper{
    width: auto;
  }

  .img-container{
    grid-template-columns: auto;
  }

  .box{
    height: 13rem;
  }

  .user-btn{
    align-self: flex-end;
    margin: 2rem 0;
  }
}
